/* Mmm-mmm */

html, body {
    height: 100%;
}

body {
    padding-top: 90px;
    line-height: 135%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fill{
    min-height: 100%;
    position: relative;
}

.filler:after{
    background-color: inherit;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;  
}

.disconnected {
    color: #900 !important;
}

.connected {
    color: #090 !important;
}

#chat_log {
    float:left;
    height:100%;
    width: 100%;
    padding: 48px 10px 50px 160px;
}

#conversation {
    max-height: 100%;
    overflow-y: auto;
    margin: 10px;
}

#msg_input {
    height: 29px;
    width: 100%;
    margin: 0 0 15px 0;
    display: none;
}

#msg_send {
    width: 15%;
    height: 29px;
    margin: 0;
    padding: 0;
    float: right;
}

#start {
    width: 200px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#welcome .start,
#welcome .username {
    width: 100%;
}
#welcome .username {
    margin-bottom: 10px;
}