html, body {
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-inner {
    padding-left: 20px !important;
}

.red-text {
    color: #900 !important;
}

.green-text {
    color: #090 !important;
}

#chat_log {
    float:left;
    height:100%;
    width: 100%;
    padding: 48px 10px 50px 160px;
}

#user_list {
    position: absolute;
    margin: 0;
    height:100%;
    width: 150px;
    padding: 40px 0 0 10px;
    float: left;
    background-color: #dfdfdf;
}

ul#users {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#conversation {
    max-height: 100%;
    overflow-y: auto;
    margin-bottom: 10px;
}

#msg_input {
    height: 29px;
    width: 100%;
    margin: 0;
}

#msg_send {
    width: 15%;
    height: 29px;
    margin: 0;
    padding: 0;
    float: right;
}